.reset-btn {
  width: 140px;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: medium;
  color: darkslategray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}
.reset-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}
