.grid {
  width: 110px;
  height: 110px;
  padding: 4px;
  float: left;
  background-color: rgba(83, 137, 192, 0.973);
  box-shadow: 0 4px 8px 0;
  border: 1px solid purple;
  transition: 0.4s;
}
.grid:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.grid.disabled {
  background-color: rgb(103, 103, 109);
}
