.App {
  text-align: center;
  margin-top: -23px;
}
.App-header {
  width: 190px;
  left: 42%;
  position: relative;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: gray;
  transition: 0.3s;
}
.App-header :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
